<!DOCTYPE html>
<html lang="en" xmlns:padding-top="http://www.w3.org/1999/xhtml" xmlns:padding-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>

<style>
    .wrap3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .category {
        width: 15%;

        border: 2px solid gray;
        padding: 30px;
    }

    .post {
        border: 2px solid gray;
        padding: 30px;

        width: 900px;
    }

    .showcontent {
        border: 2px solid gray;
        padding: 30px;
        height: 400px;
    }

    .buttonplace {
        display: flex;
        justify-content: center;
        margin-top: 30px
    }

    .previouspage {
        margin-right: auto;
        border-radius: 10px;
        border: none
    }

    .nextpage {
        margin-left: auto;
        border-radius: 10px;
        border: none
    }

    header ul {
        padding: 0;
    }

    header a {
        text-decoration: none;
        color: black;
    }

    .img_smaller {
        width: 5vh;
        margin-bottom: 0.1px;
    }

    .button_radius {
        border-radius: 5vh;
    }

    button {
        background: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        overflow: visible;
        cursor: pointer;
    }

    .button_flex {
        display: flex;
        justify-content: flex-end;
    }

    .ontop {
        display: flex;
    }

    .post_info {
        display: flex;
    }

    .showpost{
        border: 2px solid gray;
    }

</style>

<body>
<script>
    $(document).ready(function () {
        show_post();
    });

    /**
    {number} 단순 넘버링 항목에 대한 고유 식별자
    {delnum} 삭제버튼을 위한 넘버링
    {name} db에서 가져온 name(이하 동일)
    {s} db에서 가져온 id값 (삭제할때 사용 예정)
    **/

    function show_post() {
        $.ajax({
            type: "GET",
            url: "/post/get",
            data: {},
            success: function (response) {
                let rows = response['posts']
                for (let i = 0; i < rows.length; i++) {
                    let number = i + 1;
                    let delnum = number - 1;
                    let s = rows[i]['number'];

                    let title = rows[i]['title'];
                    let content = rows[i]['content'];
                    let created_at = rows[i]['created_at'];
                    let category = rows[i]['category'];
                    let name = rows[i]['name'];

                    let temp_html = `<button onclick="location.href='post/${s}'">게시글 보기</button>
                                     <div class="ontop">
                                        <h1>${title}</h1>
                                        <div style="padding-top: 30px; padding-left: 50px">${category}</div>
                                        <button onclick="location.href='post/create'" style="padding-top: 30px; padding-left: 50px">게시글 작성</button>
                                    </div>
                                    <div class="post_info">
                                        <h5 style="font-weight: bold">${name}</h5>
                                        <div style="padding-left: 30px">${created_at}</div>
                                    </div>
                                    <div class="showcontent">${content}</div>
                                    <div class="buttonplace">
                                        <button class="previouspage" onclick="location.href='#';">이전 게시글</button>
                                        <button style="margin-right: 20px; border-radius: 10px; border: none" id="btn${delnum}" onclick="del_post(${s})">삭제</button>
                                        <button style="border-radius: 10px; border: none" id="btn${number}" onclick="location.href='post/up/${s}'">수정</button>
                                        <button class="nextpage" onclick="location.href='#';">다음 게시글</button>
                                    </div>`

                    $('#post').append(temp_html);

                }
            }
        })
    }

    // function create_post() {
    //     let name = $('#name').val();
    //     let user_id = $('#id').val();
    //     let user_pw = $('#pw').val();
    //     let title = $('#title').val();
    //     let content = $('#content').val();
    //     let category_name = $('#category_name').val();
    //     $.ajax({
    //         type: "POST",
    //         url: "/post/create/<id>",
    //         data: {
    //             name_give: name,
    //             user_id_give: user_id,
    //             user_pw_give: user_pw,
    //             title_give: title,
    //             content_give: content,
    //             cat_name_give: category_name
    //         },
    //         success: function (response) {
    //             alert(response['msg'])
    //             window.location.reload()
    //         }
    //     })
    // }

    // function up_post(up) {
    //     let name = $('#name').val();
    //     let id = $('#id').val();
    //     let pw = $('#pw').val();
    //     let title = $('#title').val();
    //     let content = $('#content').val();
    //     let category_name = $('#category_name').val();
    //
    //     $.ajax({
    //         type: "POST",
    //         url: "/post/up",
    //         data: {name_give: name,
    //         user_id_give: id,
    //         user_pw_give: pw,
    //         title_give: title,
    //         content_give: content,
    //         cat_name_give: category_name,
    //         id_give:up},
    //         success: function (response) {
    //         alert(response['msg'])
    //         window.location.reload()
    //         }
    //     })
    // }


    function del_post(del) {
        $.ajax({
            type: "Delete",
            url: "/post/del",
            data: {del_give: del},
            success: function (response) {
                alert(response['msg'])
                window.location.reload()
            }
        })
    }

</script>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4"></div>
                <div class="col-sm-4 offset-md-1 py-4 button_flex">
                    <button class="text-white">마이페이지</button>
                    <button class="text-white" style="margin-left:15px">글쓰기</button>
                    <button class="text-white" style="margin-left:15px">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="scale navbar-brand d-flex align-items-center">
                <img
                        src="https://platum.kr/wp-content/uploads/2019/12/64497335_490811004989301_7459130390851092480_n.png"
                        style="width: 30px; margin-right: 12px; border-radius: 5px"
                /><strong>13_log</strong>
            </a>
            <button
                    class="scale button_radius"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <div>
                    <img
                            class="img_smaller"
                            src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                    />
                </div>
            </button>
        </div>
    </div>
</header>
<div class="wrap3">
    <div class="category">Category<br>
        <br>
        <ul class="list-group list-group-flush">
            <a href="{{url_for('category', id=category.id)}}" class="list-group-item list-group-item-action">TIL</a>
            <a href="category/2" class="list-group-item list-group-item-action">WIL</a>
            <a href="category/3" class="list-group-item list-group-item-action">잡담</a>
        </ul>
    </div>

    <div class="post" id="post">
        <button class="showpost" onclick="location.href='post/${s}'">게시글보기</button>
        <div class="ontop">
            <h1>게시글 제목</h1>
            <div style="padding-top: 30px; padding-left: 50px">카테고리</div>
            <button onclick="location.href='post/create'" style="padding-top: 30px; padding-left: 50px">게시글 작성</button>
        </div>
        <div class="post_info">
            <h5 style="font-weight: bold">작성자</h5>
            <div style="padding-left: 30px">만들어진 시간</div>
        </div>
        <div class="showcontent">게시글이 보입니다.<br>border는 싹 지울 예정입니다.</div>
        <div class="buttonplace">
            <button class="previouspage" onclick="location.href='#';">이전 게시글</button>
            <button style="margin-right: 20px; border-radius: 10px; border: none">삭제</button>
            <button style="border-radius: 10px; border: none">수정</button>
            <button class="nextpage" onclick="location.href='#';">다음 게시글</button>
        </div>

    </div>
</div>

</body>
</html>

