<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13_LOG LOGIN</title>
    <link rel="stylesheet" href="../static/Login_Styles.css">
    <script src="../static/jquery-1.12.4.js"> </script>
    
</head>
<body>
    <section class="login-form">
        <h1><a href=""><img src="../static/logo.png"></a></h1>
        <form action="">
            <div class="int-area">
                <input type="email" name="email" id="signinEmail"
                autocomplete="off"required>
                <label for="id">USER E-mail</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="signinPassword"
                autocomplete="off"required>
                <label for="id">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id ='signinbtn'
                 type="submit">LOGIN</button>
            </div>
        </form>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-analytics.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
          
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
              apiKey: "AIzaSyCTQW6LFGttGzDiXVQxGCjiMev8T0Wrtu0",
              authDomain: "log-85ad1.firebaseapp.com",
              projectId: "log-85ad1",
              storageBucket: "log-85ad1.appspot.com",
              messagingSenderId: "765579630118",
              appId: "1:765579630118:web:b4ba8d84ae670a7b7e78e7",
              measurementId: "G-JYXSVF7C8R"
            };
          
            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);

            import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-auth.js";
            document.getElementById('signinbtn').addEventListener('click',(event) => {
                event.preventDefault()
                const signinEmail = document.getElementById('signinEmail').value
                const signinPassword = document.getElementById('signinPassword').value
                const auth = getAuth();
                signInWithEmailAndPassword(auth, signinEmail, signinPassword)
                .then((userCredential) => {
                    alert('어서오세요')
                    
                    // Signed in 
                    const user = userCredential.user;
                    // ...
                })
                .catch((error) => {
                    alert('아이디 또는 비밀번호를 확인해주세요')
                    
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    // ..
                });
                                    
            })

            
            
        </script>
        <div class="caption">
            Not registerd? <a href="../templates/account.html"> Creat an account </a>
        </div>
    </section>

    <script>
        let id = $('#signinEmail');
        let pw = $('#signinPassword');
        let btn = $('#signinbtn');

        $(btn).on('click', function() {
            if ($(id).val() == ""){
                 $(id).next('label').addClass('warning');
                 setTimeout(function(){
                    $('label').removeClass('warning');
                 },1500);
            }
            else if ($(pw).val() == ""){
                $(pw).next('label').addClass('warning');
            }
        });
    </script>
</body>
</html>